body {
    display: flex;
    font-family: monospace;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
button {
    font-family: monospace;
    cursor: pointer;
}
/* Авторизация */
.login {
    width: 400px;
    height: 200px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.login__text {
    margin-top: 20px;
    font-size: 20px;
}
#login__input {
    border-radius: 10px;
    border: 2px solid #2b2b2b;
    outline: none;
    font-size: 16px;
}
#login__button {
    width: 100px;
    height: 40px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
/* Создание комнат */
.room-create {
    width: 600px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}
input[type="radio"] {
    accent-color: #2b2b2b;
}
#room-create__name, #room-create__members {
    width: 200px;
    border-radius: 10px;
    outline: none;
}
#room-create__submit, #room-create__close {
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
/* Присоединение/отсоединение от комнаты */
.room-actions {
    width: 600px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}
#room-actions__input {
    border-radius: 100px;
    width: 200px;
    margin-top: -10px;
}
.room-actions__close, .room-actions__submit {
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
/* Просмотр участников */
.members {
    width: 600px;
    height: 340px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    z-index: 10;
    background-color: #fff;
}
.members__close {
    width: 200px;
    height: 40px;
    color: #fff;
    background-color: #2b2b2b;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}
/* Чат */
.chat {
    width: 1500px;
    height: 900px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    position: relative;
    overflow: hidden;
}
.chat__left {
    width: 400px;
    height: 100%;
    border-right: 2px solid #2b2b2b;
    border-radius: 18px 0 0 18px;
    align-self: stretch;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}
.chat__header {
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.chat__exit {
    margin-left: 16px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #fff;
    color: #2b2b2b;
    border: none;
    font-size: 20px;
}
.chat__add-room {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #fff;
    color: #2b2b2b;
    border: none;
    font-size: 20px;
}
.chat__rooms {
    overflow-y: auto;
    flex: 1;
}
.chat-room {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    border: 2px solid #2b2b2b;
    border-radius: 10px;
    height: 60px;
    font-size: 16px;
}
.chat-room__name {
    margin-left: 10px;
}
.chat__room-members {
    cursor: pointer;
}
.chat-room__type {
    width: 100px;
    height: 40px;
    margin-right: 10px;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.chat__footer {
    width: 100%;
    height: 100px;
    background-color: #2b2b2b;
    color: #fff;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 0;
    border-radius: 0 0 0 16px;
    border-top: none; 
}
.chat-room__join, .chat-room__leave {
    margin-right: 10px;
    margin-left: 10px;
    width: 200px;
    height: 60px;
    border-radius: 8px;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border: 2px solid #fff;
}
.chat__right {
    flex: 1;
    height: 100%;
    border: 2px solid #2b2b2b;
    border-radius: 0 18px 18px 0;
    border-left: none;
    align-self: stretch;
    display: flex;
    flex-direction: column;
}
.chat__room-info {
    width: 100%;
    height: 80px;
    background-color: #2b2b2b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}
.chat__room-name {
    margin-left: 10px;
    font-size: 20px;
}
.chat__room-type {
    margin-right: 10px;
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #fff;
    color: #2b2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.chat__messages {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    border: none;
    overflow-y: auto;
    box-sizing: border-box;
}
.chat__notice {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 18px 18px 0;
    font-size: 24px;
    border: none;
}
.message {
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}
.chat__input {
    width: 1080px;
    height: 80px;
    background-color: #fff;
    flex-shrink: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 100px;
    border: 2px solid #2b2b2b;
    margin: 10px;
}
#chat__message-input {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(1500px - 400px - 100px);
    border: none;
    outline: none;
    font-size: 24px;
}
#chat__send {
    margin-right: 16px;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 20px;
    border: none;
}
.like-btn {
    background-color: #fff;
    border: none;
}

